<div class="item-attributes">
  <!-- 아이템 타입별 속성 템플릿 포함 -->
  {{#if type}}
    {{#if (eq type "weapon")}}
      {{> "systems/cwn-system/templates/item/parts/item-weapon-attributes.hbs"}}
    {{else if (eq type "armor")}}
      {{> "systems/cwn-system/templates/item/parts/item-armor-attributes.hbs"}}
    {{else if (eq type "skill")}}
      {{> "systems/cwn-system/templates/item/parts/item-skill-attributes.hbs"}}
    {{else if (eq type "focus")}}
      {{> "systems/cwn-system/templates/item/parts/item-focus-attributes.hbs"}}
    {{else if (eq type "gear")}}
      {{> "systems/cwn-system/templates/item/parts/item-gear-attributes.hbs"}}
    {{else if (eq type "cyberware")}}
      {{> "systems/cwn-system/templates/item/parts/item-cyberware-attributes.hbs"}}
    {{else if (eq type "drug")}}
      {{> "systems/cwn-system/templates/item/parts/item-drug-attributes.hbs"}}
    {{else if (eq type "asset")}}
      {{> "systems/cwn-system/templates/item/parts/item-asset-attributes.hbs"}}
    {{else if (eq type "power")}}
      {{> "systems/cwn-system/templates/item/parts/item-power-attributes.hbs"}}
    {{else if (eq type "vehicle")}}
      {{> "systems/cwn-system/templates/item/parts/item-vehicle-attributes.hbs"}}
    {{else}}
      <p>{{localize "CWN.NoAttributes"}}</p>
    {{/if}}
  {{else}}
    <p class="warning">{{localize "CWN.NoItemType"}}</p>
  {{/if}}
</div>

{{!-- 기본 아이템 속성 --}}
<div class="form-group">
  <label>{{localize "CWN.ItemSource"}}</label>
  <div class="form-fields">
    <input type="text" name="system.source" value="{{system.source}}">
  </div>
</div>

{{#if (eq type "weapon" "armor" "gear" "cyberware" "drug")}}
<div class="form-group">
  <label>{{localize "CWN.ItemQuantity"}}</label>
  <div class="form-fields">
    <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" step="1">
  </div>
</div>

<div class="form-group">
  <label>{{localize "CWN.ItemWeight"}}</label>
  <div class="form-fields">
    <input type="number" name="system.weight" value="{{system.weight}}" min="0" step="0.1">
  </div>
</div>

<div class="form-group">
  <label>{{localize "CWN.ItemPrice"}}</label>
  <div class="form-fields">
    <input type="number" name="system.price" value="{{system.price}}" min="0" step="1">
  </div>
</div>
{{/if}}

{{!-- 태그 관리 --}}
<div class="form-group stacked">
  <label>{{localize "CWN.ItemTags"}}</label>
  <div class="form-fields">
    <div class="tags">
      {{#each system.tags as |tag|}}
      <div class="tag" data-tag="{{tag}}">
        {{tag}}
        <a class="tag-delete"><i class="fas fa-times"></i></a>
      </div>
      {{/each}}
    </div>
    <div class="tag-input">
      <input type="text" placeholder="{{localize 'CWN.AddTag'}}">
      <a class="tag-add"><i class="fas fa-plus"></i></a>
    </div>
  </div>
</div> 