<div class="form-group">
  <label>{{localize "CWN.Level"}}</label>
  <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" min="1" max="6"/>
</div>

<div class="form-group">
  <label>{{localize "CWN.PowerType"}}</label>
  <select name="system.type">
    {{#select system.type}}
    {{#each powerTypes as |label key|}}
    <option value="{{key}}">{{localize label}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>

<div class="form-group">
  <label>{{localize "CWN.Cost"}}</label>
  <input type="number" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
</div>

<div class="form-group">
  <label>{{localize "CWN.Range"}}</label>
  <div class="form-fields">
    <input type="text" name="system.range" value="{{system.range}}" />
  </div>
</div>

<div class="form-group">
  <label>{{localize "CWN.Duration"}}</label>
  <div class="form-fields">
    <input type="text" name="system.duration" value="{{system.duration}}" />
  </div>
</div>

<div class="form-group">
  <label>{{localize "CWN.Tags"}}</label>
  <div class="tags-container">
    {{#each system.tags as |tag tagIndex|}}
    <div class="tag">
      <span class="tag-text">{{tag}}</span>
      <a class="tag-delete" data-tag-index="{{tagIndex}}"><i class="fas fa-times"></i></a>
    </div>
    {{/each}}
    <div class="tag-input-container">
      <input type="text" class="tag-input" placeholder="{{localize 'CWN.AddTag'}}"/>
      <button type="button" class="tag-add"><i class="fas fa-plus"></i></button>
    </div>
  </div>
</div> 