<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-details">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="attributes">{{localize "Attributes"}}</a>
    <a class="item" data-tab="effects">{{localize "CWN.TabEffects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> (concat "systems/my-fvtt-cwn/templates/item/parts/item-" type "-attributes.hbs")}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      <ol class="effects-list">
        {{#each effects as |effect|}}
        <li class="effect flexrow" data-effect-id="{{effect.id}}">
          <div class="effect-name">
            <h4>{{effect.label}}</h4>
          </div>
          <div class="effect-source">{{effect.sourceName}}</div>
          <div class="effect-duration">{{effect.duration.label}}</div>
          <div class="effect-controls">
            <a class="effect-control" data-action="toggle" title="{{localize 'Toggle Effect'}}">
              <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
            </a>
            <a class="effect-control" data-action="edit" title="{{localize 'Edit Effect'}}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="effect-control" data-action="delete" title="{{localize 'Delete Effect'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </section>
</form> 